*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
a{
	color: inherit;
	cursor: pointer;
}
p{
	font-size: 16px;
	display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
img {
    vertical-align: middle;
}
h1{
	display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h4 {
    display: block;
    font-weight: bold;
}
body{
	min-width: 1100px;
}
.nav{
	width: 100%;
	height:70px;
	position: fixed;
	background:white;
	z-index:5;
	min-width: 1200px;
}
.navMa{
	width: 70%;
	height:70px;
	margin: 0 auto;
}
.navMa-one{
	height:70px;
	line-height:70px;
	float: left;
}
.navMa-one-img{
	width: 35px;
	height: 30px;
}
.navMa-two{
	width: 665px;
	height:70px;
	text-align: center;
	line-height: 70px;
	float: right;
}
.navMa-two-ul{
	height: 70px;
}
.navMa-two-ul li{
	width: 100px;
	height: 70px;
	float: left;
	font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.navMa-two-ul li a{
	color:#666;
}
#gM{
	padding-left:30px;
	font-size: 14px !important;
	color:#808080;
}
#navDm{
	width: 100px;
	height:70px;
	background: white;
	margin-left:-10px;
	text-align: center;
	display: none;
}
#navDm div:first-child{
	margin-top:-20px;
	height: 25px;
}
#navDm div img{
	width: 15%;
}
#navDm div a{
	color: #303233;
    font-size: 12px;
    font-weight: 200;
    white-space: nowrap;
    line-height: 1;
}
.navDis{
	border-top: 1px solid #dae1e6;
	width: 100%;
	height:130px;
	position: fixed;
	background:white;
	top:70px;
	z-index:4;
	display: none;
}
.navDis-con{
	width: 60%;
	height:100px;
	text-align: right;
	margin: 0 auto;
	padding-top: 16px;
}
.navDisR{
	width: 110px;
	text-align: center;
	float:right;
	line-height:100%;
}
.navDisIm{
	cursor: pointer;
	vertical-align: middle;
	padding-bottom: 15px;
}
.navDisTx{
	font-size: 12px;
    letter-spacing: 1px;
    color: rgb(102, 102, 102);
}
.nav2{
	padding-bottom: 12px;
}
.nav3{
	padding-top: 18px;
	padding-bottom: 18px;
}
.nav4{
	padding-top: 17px;
	padding-bottom: 16px;
}
.nav5{
	padding-bottom: 17px;
}
.nav6{
	padding-top:22px;
	padding-bottom:32px;
}
.con{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.con-iM{
	width: 100%;
	vertical-align: middle;
}
.con-tex{
	position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
}
.con-tex>div{
	color: #fff;
}
.con-tex div h3{
	font-weight: bold;
	font-size: 72px;
    line-height: 1.1;
}
.con-tex div p{
	font-size: 24px;
	margin-top: 38px;
}
.con-iM2{
	width: 22%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
}
.aimain{
	width: 100%;
	height: 2090.46px;
}
.ailist{
	padding:94px 0;
	width: 100%;
	height: 649.72px;
}
.container{
	width: 61.5%;
	height:461.72px;
	margin-right: auto;
    margin-left: auto;
    min-width: 1170px;
}
.index-p1-list.row{
	margin-right: -4px;
    margin-left: -4px;
}
.index-p1-list.row > div {
    padding-right: 4px;
    padding-left: 4px;
}
.ztBoxShadow{
	padding-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    width: 384.656px;
    height: 451.719px;
    transition: all 0.5s ease-in-out;
}
.ztBoxShadow:hover{
	margin-top:-15px;
}
.index-p1-box-g{
	width: 384.656px;
	height:451.719px;
	position: relative;
}  
.index-p1-img{
	width: 384.656px;
	height:224.719px;
	position: relative;
    z-index: 1;
}
.index-p1-img img{
	width: 100%;
}
.ip1-bg{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    height: 100%;
    z-index: 0;
}
.index-p1-txt{
	display: block;
    padding: 30px 35px;
    min-height: 205px;
    margin-top: -38px;
    margin-left: 15px;
    margin-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.index-p1-txt h4{
	font-size: 36px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 1.1;
    color: inherit;
}
.pcont{
	font-size: 14px;
    margin-top: 14px;
    line-height: 1.4;
}
.aiword{
	width: 100%;
	height:550.18px;
	padding: 94px 0;
    background: #F0F0F0;
}
.containerA{
	width: 61.5%;
	height: 550.18px;
	margin-right: auto;
    margin-left: auto;
    min-width: 1170px;
}
.index-tit{
	height: 92px;
	text-align: center;
    margin-bottom: 50px;
}
.index-tit h1{
	font-size: 46px;
    font-weight: bold;
    color: #333a40;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.index-tit p{
	font-size: 20px;
    color: #7c7c7c;
}
.self-wrap{
	margin-top: 70px;
	margin-left: -15px;
	height: 388.18px;
}
.self-wrapDiv{
	width: 295px;
	height: 388.17px;
	padding: 0 50px;
	float: left;
	position: relative;
    min-height: 1px;
}
.selfimg{
	width: 295px;
	height: 175.172px;
	text-align: center;
	transition: transform 0.3s;
}
.selfimg:hover{
	transform: scale(1.1);
}
.selfimg img{
	width: 100%;
}
.selftxt{
	width: 295px;
	height:143px;
	text-align: center;
    margin-top: 70px;
}
.self-p2{
	font-size: 36px;
    color: #333a40;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}
.selftxt .self-p3{
	color: #333a40;
    line-height: 28px;
}
.aisever{
	padding: 42px 0 84px;
}
.containerB{
	width: 1170px;
	height: 576.56px;
	margin-left:auto;
	margin-right:auto;
}
.index-tit2{
	width: 1170px;
	height: 94px;
	text-align: center;
    margin-bottom: 50px;
}
.index-tit2 h1{
	font-size: 46px;
    font-weight: bold;
    color: #333a40;
    margin-bottom: 20px;
}
.index-tit2 p{
	color: #7c7c7c;
	font-size: 15px;
    line-height: 1.6;
}
.fot{
	margin-left: -15px;
	width: 1185px;
	height: 432.563px;
}
.fot-wrapDiv{
	padding: 0 15px;
	float: left;
	width: 365px;
	height: 432.563px;
}
.fot-wrapDiv img{
	width: 100%;
}
.fot-wrapDiv .wrap{
	width: 305px;
	height: 164px;
	padding: 30px;
}
.fot-wrapDiv .wrap h4{
	margin-bottom: 20px;
	font-size: 22px;
    color: #000;
    font-weight: bold;
}
.fot-wrapDiv .wrap p{
	font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #505050;
}
.footer{
	width: 100%;
	height:315px;
	background: #f4f4f4;
	margin-top:250px;
	min-width: 1462px;
}
.footer>div{
	width: 84%;
	height: 315px;
    margin: 0 auto;
    padding: 0px;
}
.footer>div>div{
	width: 100%;
	height: 260px;
	padding: 55px 0px 0px 0px;
    margin-top: 50px;
}
.footer1{
	width: 100%;
	height: 130px;
	margin-bottom: 40px;
	min-width: 1250px;
	position: relative;
}
.fot1-1{
	width: 67px;
	height: 95px;
	margin-right: 180px;
	font-size: 12px;
    color: #9e9e9e;
    line-height: 45px;
    float: left;
    margin-right: 200px;
    padding-top: 15px;
}
.fot1-1 a img{
	width: 100%;
    margin-top: 40px;
    max-width: 70px;
    max-height: 70px;
    vertical-align: top;
}
.fot1-2{
	width: 760px;
	height: 130px;
	font-size: 12px;
    color: #9e9e9e;
    line-height: 45px;
    float: left;
    text-align: left;
}
.u-middle{
	margin-right: 160px;
	float: left;
}
.u-middle .tit {
    font-size: 16px;
    color: #6e6e6e;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.u-middle .txt {
    color: #686868;
    line-height: 30px;
}
.u-middle .txt p{
	text-align: left;
}
.fot1-3{
	float: right;
    font-size: 12px;
    color: #686868;
    line-height: 2.4em;
    text-align: right;
    padding-top: 5px;
    width: 112px;
    height: 118px;
}
.u-tel{
	width: 266.203px;
	height: 96px;
	font-size: 12px;
    color: #686868;
    line-height: 2.4em;
    text-align: right;
    position: absolute;
    left: 69%;
    
}
.fot1-3 .u-tel .tel{
	font-size: 36px;
	letter-spacing: 1px;
	color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}
.u-erwei{
	margin-top: -40px;
	width: 100%;
    color: #333333;
    font-size: 12px;
    line-height: 2.4em;
    text-align: right;
}
.u-erwei p img{
	width: 100%;
    margin-top: 40px;
    max-width: 90px;
    vertical-align: top;
}
.u-lianjie{
	width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #6e6e6e;
    padding-bottom: 20px;
}
.u-lianjie a {
    padding-right: 2px;
    color: #6e6e6e;
}
.footer2 img {
    width: 15px;
    margin-top: -2px;
    margin-right: 4px;
}
.u-bei{
	width: 100%;
    font-size: 12px;
    color: #9e9e9e;
    padding-bottom: 30px;
    line-height: 20px;
    text-align: center;
}
.u-bei span {
    margin: 0px 10px;
}
